---
import Projects from '@components/Projects.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main class="pt-8">
    <h1 class="m-4 text-center font-mono text-6xl">Antonio Genaro</h1>
    <h2 class="m-4 text-center font-serif text-2xl font-extralight italic">
      Software developer
    </h2>
    <p class="prose dark:prose-invert">
      I am a software developer with a passion for creating efficient and
      scalable applications. I have experience in various programming languages
      and frameworks, and I enjoy learning new technologies to stay up-to-date
      in the ever-evolving tech industry.
    </p>
    <section class="mt-8">
      <Projects />
    </section>
  </main>
</Layout>
