---
import Layout from '@layouts/Layout.astro';
import type { GetStaticPaths } from 'astro';
import { Image } from 'astro:assets';
import { render } from 'astro:content';
import { getCollection } from 'astro:content';

export const getStaticPaths = (async () => {
  const projects = await getCollection('projects');

  return projects.map((project) => ({
    params: { id: project.id },
    props: {
      project,
    },
  }));
}) satisfies GetStaticPaths;

const { project } = Astro.props;
const { title, description, img } = project.data;
const { Content } = await render(project);
---

<Layout>
  <div class="flex gap-4">
    <div class="mt-4">
      <Image
        transition:name={'project-image-' + project.id}
        src={img}
        alt={title}
        class="h-auto w-48 rounded-lg"
      />
    </div>

    <div class="m-4 text-left">
      <h1 class="mb-4 font-mono text-6xl">
        {title}
      </h1>
      <h2 class="font-serif text-2xl font-extralight italic">{description}</h2>
    </div>
  </div>
  <div class="prose dark:prose-invert mt-4">
    <Content />
  </div>
</Layout>
